.container 
  .home_title
    %p コンディションを入力しよう！
  .home_link
    = link_to "Add Today's Condition", new_condition_path, class: 'link'
  .home_subtitle
    %p これまでのコンディション
  .hidden.conditions
    - @conditions.each do |condition|
      .condition
        = link_to condition.dates, condition_path(condition.dates), class: 'condition_link'