.container 
  Add today's health
  .section 
    .section_title
      .section_title_tag
        mental
      .section_title_detail
        ⭐️
  .section 
    .section_title
      .section_title_tag
        temperature
      .section_title_detail
        36.0
  .section 
    .section_title
      .section_title_tag
        sleep
      .section_title_detail
        00:00-00:00
  .section 
    .section_title
      .section_title_tag
        exercise
      .section_title_detail
        running
        jump
  .section 
    .section_title
      .section_title_tag
        food 
      .section_title_detail
        morning lunch dinner 
  .section 
    .section_title
      .section_title_tag
        weight
      .section_title_detail
        70 kg