@import './variables';

.body_header {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.prev {
  font-size: 18px;

  @include mq(sm) {
    font-size: 15px; 
  }
}

.next {
  font-size: 18px;

  @include mq(sm) {
    font-size: 15px; 
  }
}

.edit {
  margin: 20px;
}

.section {
  border-top: dashed 1px $primary-color;
  padding: 10px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  @include mq(sm) {
    width: 100%;
    
  }

  &_title {
    display: flex;
    font-size: 20px;

    &_tag {
      width: 50%;
      display: flex;
      justify-content: center;

      @include mq(sm) {
        justify-content: left;
      }
        
      img {
        height: 30px;
        width: 30px;
        margin-right: 15px;
      }
    }
    
    &_detail {
      width: 50%;
      text-align: center;
    }
  }
}