.edit {
  margin: 20px;
}

.section {
  border-top: dashed 1px #5989cf;
  padding: 10px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  &_title {
    display: flex;
    font-size: 20px;

    &_tag {
      width: 50%;
      display: flex;
      justify-content: center;
      // align-items: center;
        
      img {
        height: 30px;
        width: 30px;
        margin-right: 15px;
      }
    }
    
    &_detail {
      width: 50%;
      text-align: center;
    }
  }
}