@import './variables'; 

.header {
  display: flex;
  align-items: center;

  &_left {
    margin-left: 30px;

    img {
      height: 30px;
      width: 30px;
    }
  }

  &_title {
    font-weight: bold;
    margin: auto;
    font-size: 23px;

    @include mq(sm) {
      font-size: 20px;
    }
  }

  &_right {
    margin-right: 30px;

    @include mq(sm) {
      margin-right: 0;
    }
  }
}