@import './variables'; 

.home_title {
  text-align: center;
  margin: auto;
}

.home_link {
  text-align: center;
  margin: 5px;
}

.link {
  background-color: rgb(99, 192, 224);
  padding: 7px 5px;
  border-radius: 30%;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  color: white;
}

.home_subtitle {
  text-align: center;
  margin-top: 20px;
}

.hidden {
  display: none;
}

.condition{
  text-align: center;
  margin: 20px 0 20px 0;
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  @include mq(sm) {
    width: 100%;
  }

  &_link {
    padding: 7px;
    border-radius: 30px;
    box-shadow: 0 0 8px gray;
  }
}