@import './variables'; 

.level {
  margin-left: 20px;
  font-size: 20px;
  display: inline;
  background-color: $primary-color;
  padding: 5px;
  border-radius: 10%;

  a {
    color: white;
  }
}

.home_title {
  text-align: center;
  margin: auto;
}

.home_link {
  text-align: center;
  margin: 5px;
}

.link {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: $primary-color;
  color: white;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.link:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.home_subtitle {
  text-align: center;
  margin-top: 20px;

  p {
    display: inline;
  }
}

.hidden {
  display: none;
}

.condition{
  text-align: center;
  margin: 20px 0 20px 0;
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  @include mq(sm) {
    width: 100%;
  }

  &_link {
    padding: 7px;
    border-radius: 30px;
    box-shadow: 0 0 8px gray;
  }
}