.header
  - if current_page?(root_path)
    %h1 HealthCheck
  - elsif user_signed_in?
    %h1 Today's Health
    -# .prev
    -#   previous
    -# .date
    -#   = @condition.dates
    -# .next
    -#   next